.skeleton-service-program-list {
	width: 100vw;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	position: absolute;
	top: -67px;
	left: 120px;
}

@media only screen and (min-width: 768px) {
	.skeleton-service-program-list {
		left: 200px;
	}
}
